@media (max-width: 991px) {
    .section-title {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .section-title {
        top: 0;
    }
}


.section-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}