/* Imports*/
@import url('../icons/themify/themify-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*Variables*/

:root {
    --grey-black: #474747;
    --grey-medium: #6c757d
    --grey-light: #d6d6d6;
    --light-beige: #fdf8ea;
    --light-grey: #ececec;
    --black-1: #232323;
    --black-transparent-1: #000000eb;
    --black-transparent-2: #00000026;
    --blue-dark: #212529;
    --green-moss: #21c87a;
}

/*-----------------------------
 CSS INDEX
* --------------------------------------
* 01.GLOBAL CSS STYLE
* 02.TYPOGRAPHY CSS STYLE
* 03.BUTTONS STYLE
* 04.HOME CSS STYLE
    -LOGO CSS
    -MENU CSS
    -CAROUSSEL
* 05.ABOUT CSS STYLE
* 06.SERVICE CSS STYLE
* 07.FOOTER CSS STYLE
* ----------------------------------------
*/



/*--------------------
 GLOBAL
-----------------*/

.bg-light-beige {
    background-color: var(--light-grey);
}



body {
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
    color: var(--green-moss);
    font-weight: bold;
    transition: .3s;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 25px 100px -5px var(--black-transparent-2);
}

.pt-1 {
    padding-top: 1.1rem;
}

.pt-2 {
    padding-top: 1.6rem;
}

.pt-3 {
    padding-top: 2.2rem;
}

.pt-4 {
    padding-top: 2.8rem;
}

.pt-5 {
    padding-top: 3.4rem;
}

.pt-6 {
    padding-top: 4.1rem;
}

.pt-7 {
    padding-top: 4.6rem;
}

.mt50 {
    margin-top: 80px;
}

.mb-6 {
    margin-bottom: 2rem !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-transparent-1);
}

/*----------------
 TYPOGRAPHY
-----------------*/


body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: var(--grey-medium);
    text-align: left;
    font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: var(--blue-dark)
}

.h1,
h1 {
    font-size: 2.125rem;
    line-height: 40px;
}

.h2,
h2 {
    font-size: 1.625rem;
}

.h3,
h3 {
    font-size: 1.375rem;
}

.h4,
h4 {
    font-size: 1.125rem;
}

.h5,
h5 {
    font-size: .9375rem;
}

.h6,
h6 {
    font-size: .75rem;
}

.font-weight-500 {
    font-weight: 500 !important;
}

p {
    margin-bottom: 10px;
    font-size: 15px;
}



img {
    vertical-align: middle;
    border-style: none;

}

.bg-grey {
    background: var(--light-grey);
}



/*-------------------
  BUTTONS STYLE
----------------=----*/

.btn {
    font-size: .6875rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    padding: 1.1rem 2.7rem;
    border: 0.1rem solid transparent;
    transition: all 0.2s ease-in-out;
    letter-spacing: .5px
}

.btn-circle {
    display: inline-flex;
    width: 4.20313rem !important;
    height: 4.20313rem !important;
    padding: 0 !important;
    border-radius: 50%;
    align-items: center;
    justify-content: center
}

.btn-white {
    background: #fff;
    color: var(--blue-dark);
}

.btn:focus {
    box-shadow: none !important
}

.btn-circled {
    border-radius: 75px;
}


.bg-primary,
.btn-primary,
.btn-white:hover {
    background: var(--green-moss) !important;
    border-color: var(--green-moss) !important;
    color: #fff;
}

.bg-dark,
.btn-primary:hover {
    background: var(--black-1) !important;
    border-color: var(--black-1) !important;
    color: #fff;
}


/*-------------------
   LOGO
----------------------*/

.logo-bar {
    padding: 20px 0px 50px;
}

.top-info-block {
    margin-right: 30px;
}

.top-info-block h5,
.top-info-block p {
    margin-bottom: 0px;
}

.top-info-block:last-child {
    margin-right: 0px;
}

.icon-block {
    margin-right: 20px;
    color: #21c87a;
    font-size: 40px;
    line-height: 20px;
    font-weight: 400;
}

.main-navigation {
    margin-top: -50px;
}


/*----------------------
 TOP BAR
-----------------------*/

.info-block {
    min-width: 93px
}



/*-------------------
   MENU
----------------------*/

.header-socials {
    line-height: 22px;
    margin-bottom: 0px;
}

.header-socials li {
    padding: 8px;
}

.header-socials li a {
    color: #21c87a;
}

.navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.nav-item.dropdown .dropdown-menu {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 120%;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    border: 0px;
    padding: 0px;
    position: absolute;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}


.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #21c87a;

}

.dropdown-menu {
    opacity: 0
}

.dropdown-menu.show {
    animation: .2s forwards b
}

.dropdown-item {
    font-size: .6875rem;
    font-weight: 500;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: background-color .1s;
    text-transform: uppercase
}

/*------------------------
    CAROUSEL
----------------------------*/



/*--------------------------
ABOUT
---------------------------*/

.about-img {
    margin-bottom: -10px;
    border: 10px solid#fff;
    z-index: 100;
}


.img-icon i {
    font-size: 60px;
}

.img-icon-block {
    position: relative;
}

.img-icon-block:before {
    position: absolute;
    content: "";
    top: -27px;
    background-color: #21c87a;
    opacity: .3;
    width: 80px;
    /* right: 70px; */
    height: 80px;
    border-radius: 50%;
    z-index: 1;
}

.img-icon-block i {
    font-size: 58px;
    z-index: 2 !important;
    color: #333;
    position: relative;
}


/*----------------------
 SERVICE
-----------------------*/

#services {
    position: relative;
    background: url("../img/bg/6.jpg")no-repeat fixed 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

#services:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg, rgba(121, 110, 255, 0.95) 0%, rgba(33, 200, 122, 0.95) 100%);
}

.service-block {
    text-align: center;
    padding: 1rem 2rem;
    height: 100%;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 10px;
}

.service-block i {
    font-size: 70px;
    margin-bottom: 30px;
    display: block;
}

.service-block i,
.service-block h3 {
    color: #fff;
}

.service-block p {
    color: #eee;
    margin-top: 15px;
}

.service-block:hover {
    background: #fff;
    border-color: transparent;
}

.service-block:hover i {
    color: #21c87a;
}

.service-block:hover h3 {
    color: #111;
}

.service-block:hover p {
    color: #111;
}

.blog-content {
    text-align: justify;
    height: 70vh;
    overflow-y: overlay;
}

.blog-content ul {
    margin-bottom: 10px;
}

.blog-content a h3 {
    transition: all .3s ease 0s;
    margin: 15px 0px;
}

.blog-content:hover a h3 {
    color: #21c87a;
}

.blog-content h6 span {
    display: inline-block;
    padding-left: 10px;
}

.blog-content h6 span:after {
    display: none;
}

.blog-content p {
    margin: .5rem 0rem;
    padding: 0rem 1rem 0rem 0rem;
    line-height: 1.5;
}


/*----------------------
 FOOTER
-----------------------*/

.footer-overlay {
    background: #111;
    opacity: .94;
}

.footer-links-site-map{
    padding-left: 0;
    list-style-type: none
}

.footer-widget p {
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 1.2rem;
}

.footer-widget h3 {
    color: #fff;
    margin-bottom: 30px;
}

.footer-copy {
    color: #888;
    font-size: 16px;
    position: relative;
}

.footer-copy:before {
    position: absolute;
    left: 0px;
    top: 12px;
    width: 66%;
    height: 1px;
    background: #94959a;
}