
/*----------------------------------
    BIG LAYOUT: 1200px END MORE
-----------------------------------*/
@media (min-width: 1201px) {

    .carousel-item {
        height: 70vh;
    }

    .carousel-caption {
        margin-bottom: 5rem;
    }

    .carousel-caption p:first-of-type {
        font-size: 2.5rem;
    }

    .carousel-caption p:nth-child(2) {
        font-size: 1.5rem;
    }

    .navbar .dropdown-menu {
        transform: translateY(.5rem);
        opacity: 0
    }

    .navbar .dropdown-menu.show {
        animation: .2s forwards d
    }

    .dropdown-item {
        padding-top: .75rem;
        padding-bottom: .75rem
    }

    .dropdown-item + .dropdown-item {
        border-top: 1px solid rgba(0, 0, 0, .1)
    }
}


/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .navbar .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        border: 0
    }

     .carousel-item {
        height: 80vh;
    }
       
}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {

    .carousel-item {
        max-height: 70vh;
    }

    div.logo-bar .container{
        display: none;
    }

    .img-fluid {
        width: 100%;
        height: 45vh;
        object-fit: cover;
        object-position: bottom;
    }

    .service-block{
        padding: 10px 25px;
    }

    .carousel-item {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        height: 95vh;
    }
    
    i.icons {
        display: none
    }

    .top-info-block {
        text-align: center;
        margin: 5px 0px;
        clear: both;
    }

    .icon-block {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .main-navigation {
        margin-top: -30px;
    }

    .section-title {
        font-size: 22px;
    }

    .feature-block {
        margin-bottom: 80px;
    }

    .about-img {
        margin-bottom: 0px
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .footer-copy {
        text-align: center;
    }

    .footer-copy:before {
        display: none;
    }

    .top-info-block {
        margin: 0px 20px;
        text-align: left;
    }

    .top-info-block .icon-block {
        margin-right: 10px;
    }

    .img-icon-block:before {
        right: auto;
    }

    #map {
        margin-top: 40px;
    }
    
    .section {
        padding: 7.5rem 0
    }
    
    
}





/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

    h1 {
        font-size: 1.5rem
    }

    h2 {
        font-size: 1.375rem
    }

    h3 {
        font-size: 1.25rem
    }

    h4 {
        font-size: 1.125rem
    }

    h5 {
        font-size: .9375rem
    }

    h6 {
        font-size: .75rem
    }

    div.logo-bar .container{
        display: none;
    }
    
    .carousel-item {
        max-height: 64vh;
    }
    
    .img-fluid {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: bottom;
    }

    .about-img {
        max-height: 50vh;
    }
    
    .service-block{
        padding: 1rem 2rem;
    }

    .carousel-item {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        height: 100vh;
    }

    #top-bar {
        display: none
    }
    
    i.icons {
        display: block
    }

    .top-info-block {
        text-align: center;
        margin: 10px 0px;
        clear: both;
    }

    .icon-block {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .main-navigation {
        margin-top: 20px;
    }

    .section-title {
        font-size: 22px;
    }

    .feature-block {
        margin-bottom: 80px;
    }

    .about-img {
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .footer-copy {
        text-align: center;
    }

    .footer-copy:before {
        display: none;
    }

    .img-icon-block:before {
        right: auto;
    }

    #map {
        margin-top: 40px;
    }

}


/* Extra Small Devices, Phones */

@media (min-width: 478px) and (max-width: 640px) {

    div.logo-bar .container{
        display: none;
    }

    .carousel-item {
        max-height: 55vh;
    }
    
    .img-fluid {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: bottom;
    }

    .service-block{
        padding: 1rem 2rem;
    }
        
    .carousel-item {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    
    #top-bar {
        display: none
    }
    
    i.icons {
        display: none
    }

    .navbar-collapse.collapse.show {
        padding-bottom: 30px;
    }

    .top-info-block {
        text-align: center;
        margin: 10px 0px;
        clear: both;
    }

    .icon-block {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .main-navigation {
        margin-top: 20px;
    }

    .section-title {
        font-size: 22px;
    }

    .feature-block {
        margin-bottom: 80px;
    }

    .about-img {
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .footer-copy {
        text-align: center;
    }

    .footer-copy:before {
        display: none;
    }

    .service-block {
        margin-bottom: 30px;
    }


    .img-icon-block:before {
        right: auto;
    }

    #map {
        margin-top: 40px;
    }

}

/* Custom, iPhone Retina */
@media (min-width : 320px) and (max-width: 478px) {

    div.logo-bar .container{
        display: none;
    }

    .container {
        max-width: 540px;
    }

    .carousel-item {
        max-height: 47vh;
    }

    .img-fluid {
        width: 100%;
        height: 35vh;
        object-fit: cover;
        object-position: bottom;
    }

    .about-img {
        max-height: 50vh;
    }

    .service-block{
        padding: 1rem 2rem;
    }
    
    .carousel-item {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        height: 80vh;
    }
    
    #top-bar {
        display: none
    }
    
    i.icons {
        display: none
    }
    
    .bg-light {
        background: transparent !important;
    }

    .top-info-block {
        text-align: center;
        margin: 10px 0px;
        clear: both;
    }

    .icon-block {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .main-navigation {
        margin-top: 20px;
    }

    .navbar-collapse.collapse.show {
        padding-bottom: 30px;
    }

    .main-nav .navbar-brand h4 {
        color: #fff;
        margin-top: 10px;
    }

    .section-title {
        font-size: 22px;
    }

    .feature-block {
        margin-bottom: 80px;
    }

    .about-img {
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .footer-copy {
        text-align: center;
    }

    .footer-copy:before {
        display: none;
    }

    .service-block {
        margin-bottom: 20px;
    }


    .section {
        padding: 60px 0px;
    }

    .img-icon-block:before {
        right: auto;
    }


    #map {
        margin-top: 40px;
    }
    
    .size-1 {
        text-transform: uppercase;
        font-size: 60%
    }
}


@media (max-width: 319px) {

    div.logo-bar .container{
        display: none;
    }

    #top-bar {
        display: none;
    }

    .img-fluid {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: bottom;
    }

}