#footer {
    position: relative;
    padding: 6rem 0 3rem;

    background: url("@/_assents/img/bg/10.jpg");
    background-size: cover;
    -webkit-background-size: cover;
}

#footer p {
    color:lightgrey;
    font-weight: 300;
}

.ponto {
    font-size: 5px;
    position: absolute;
    margin-top: 14px;
}

.footer-links-contact-us,
.footer-links-site-map,
.footer-links-contact-us a,
.footer-links-site-map a{
    padding-left: 0;
    padding-bottom: .3rem;
    padding-top: .3rem;
    
    color:lightgrey;
    font-weight: 300;
}

.footer-links-contact-us > li {
    list-style-position: outside;
    list-style-type: none;
}

.footer-links-site-map a {
    transition: .3s;
}

.footer-links-site-map a:hover,
.footer-links-contact-us a:hover {
    font-weight: bold;
}

ul.footer-links-site-map li,
ul.footer-links-contact-us li{
    padding-top: .3rem
}

.footer-copy a:hover{
    color: lightgrey;
}